[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
